<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chemistry</title>
   <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/ed213a1ff9.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <div>
       <div class="container main-nav flex" >
        
        <a href="#" class="logo flex">
            <img src="/Image/Tesla.png" alt=""><h2>Tesla</h2>
        </a>
        <div class="nav-links">
            <ul class="flex">
              <li><a href="/">Home</a></li>
              <li><a href="">Cources</a></li>
            <!-- <li><a href="" class="primary-button">Login</a></li>
            <li><a href="" class="secondary-button">Sign up</a></li> -->

            <form action="/logout?_method=DELETE" method="POST">
              <button type="submit" class="secondary-button" style="background-color: red;"> logout </button>
          </form>
        </ul>
        </div>
       </div> 
    </div>
    </nav>

    
    <section>
            <div class="container"> 
                <section class="card-section">
                    <div class="container">
                   <div class="header flex">
                    <h1>Explore various Subjects</h1>
                   </div>
        
                    </div>
                    <div class="flex">

                        <div class="card">
                            <img src="/Image/maths.png" alt="">
                            <div class="te flex">
                            <h3>Organic Chemistry</h3>
                            <p>foundation for problem-solving and logical thinking. </p>
                          
                           
                            <a href="" class="secondary-button">Get Started</a>
                            </div>
                        </div>
                        <div class="card">
                            <img src="/Image/Physics.png" alt="">
                            <div class="te flex">
                            <h3>Inorganic Chemistry</h3>
                            <p>foundation for problem-solving and logical thinking. </p>
                            
                            <a href="" class="secondary-button">Get Started</a>
                        </div>
                    </div>
                        <div class="card">
        
                            <img src="/Image/chemistry.png" alt="">
                            <div class="te flex">
                            <h3> Physical Chemistry </h3>
                            <p>foundation for problem-solving and logical thinking. </p>
                            <a href="" class="secondary-button">Get Started</a>
                       </div>
                     </div>

                  
                  
               
                     
                    </div>
                </section>
            </div>
            
        </section>
        <section>
            <div class="container">
                <div class="header flex">
                 <h1>Organic Chemistry</h1>
                </div>
     
                 </div>
<div class="container">

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Notes</th>
          <th>Assignment</th>
          <th>Quiz</th>
          <th>Weightage</th>
          <th>Lecture</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Physics and Measurement </td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
        </tr>
        <tr>
          <td>Kinematics</td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
        </tr>
        <tr>
          <td>Laws of Motion</td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
        </tr>
        <tr>
          <td>Work and Energy</td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
        </tr>
        <tr>
          <td>Rotational Motion</td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
        </tr>
        <tr>
          <td>Gravitation</td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
        </tr>
        <tr>
          <td>Properties of Solids and Liquids</td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
        </tr>
        <tr>
          <td>Oscillations</td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
        </tr>
        <tr>
          <td>Waves</td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

    <div class="container">
        <div class="header flex">
         <h1>Inorganic Chemistry</h1>
        </div>

         </div>
<div class="container">

<div class="table-container">
<table>
<thead>
<tr>
  <th>Notes</th>
  <th>Assignment</th>
  <th>Quiz</th>
  <th>Weightage</th>
  <th>Lecture</th>
</tr>
</thead>
<tbody>
<tr>
  <td>Thermodynamics </td>
  <td><a href="#">Click here</a></td>
  <td><a href="#">Click here</a></td>
  <td><a href="#">Click here</a></td>
  <td><a href="#">Click here</a></td>
</tr>
<tr>
  <td>Kinetic Theory of Gases</td>
  <td><a href="#">Click here</a></td>
  <td><a href="#">Click here</a></td>
  <td><a href="#">Click here</a></td>
  <td><a href="#">Click here</a></td>
</tr>

</tbody>
</table>
</div>
</div>

   <div class="container">
        <div class="header flex">
         <h1>Physical Chemistry</h1>
        </div>

         </div>

<div class="container">

    <div class="table-container">
    <table>
    <thead>
    <tr>
      <th>Notes</th>
      <th>Assignment</th>
      <th>Quiz</th>
      <th>Weightage</th>
      <th>Lecture</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>Electrostatics </td>
            <td><a href="#">Click here</a></td>
            <td><a href="#">Click here</a></td>
            <td><a href="#">Click here</a></td>
            <td><a href="#">Click here</a></td>
          </tr>
    <tr>
      <td>Current Electricity </td>
      <td><a href="#">Click here</a></td>
      <td><a href="#">Click here</a></td>
      <td><a href="#">Click here</a></td>
      <td><a href="#">Click here</a></td>
    </tr>
    <tr>
      <td>Magnetic Effects of Current</td>
      <td><a href="#">Click here</a></td>
      <td><a href="#">Click here</a></td>
      <td><a href="#">Click here</a></td>
      <td><a href="#">Click here</a></td>
    </tr>
    <tr>
    <td>Magnetism</td>
    <td><a href="#">Click here</a></td>
    <td><a href="#">Click here</a></td>
    <td><a href="#">Click here</a></td>
    <td><a href="#">Click here</a></td>
  </tr>
<tr>
  <td>Electromagnetic Induction</td>
  <td><a href="#">Click here</a></td>
  <td><a href="#">Click here</a></td>
  <td><a href="#">Click here</a></td>
  <td><a href="#">Click here</a></td>
</tr>
<tr>
    <td>Electromagnetic Waves</td>
    <td><a href="#">Click here</a></td>
    <td><a href="#">Click here</a></td>
    <td><a href="#">Click here</a></td>
    <td><a href="#">Click here</a></td>
  </tr>
    
    </tbody>
    </table>
    </div>
    </div>
  
  
    </div>
    
</body>
</html>

            </div>
        </section>
    </main>
    <footer></footer>
    <script>
        // window.onscroll = function() {myFunction()};
        
        // var header = document.getElementById("myHeader");
        // var sticky = header.offsetTop;
        
        // function myFunction() {
        //   if (window.pageYOffset > sticky) {
        //     header.classList.add("sticky");
        //   } else {
        //     header.classList.remove("sticky");
        //   }
        // }
        </script>
</body>
</html>

<!-- JEE MAIN PHYSICS
UNIT-WISE WEIGHT
17.00
Mechanics
Heat & Thermodynamics
Electrostatics and Magnetism
35.67
Current Electricity & EMI
• Optics & Modem Physics
20.67
9.67
17.00