<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Physics</title>
   <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/ed213a1ff9.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <div>
       <div class="container main-nav flex" >
        
        <a href="#" class="logo flex">
            <img src="/Image/Tesla.png" alt=""><h2>Tesla</h2>
        </a>
        <div class="nav-links">
            <ul class="flex">
              <li><a href="/">Home</a></li>
            <li><a href="">Cources</a></li>
            <!-- <li><a href="" class="primary-button">Login</a></li>
            <li><a href="" class="secondary-button">Sign up</a></li> -->


            <form action="/logout?_method=DELETE" method="POST">
              <button type="submit" class="secondary-button" style="background-color: red;"> logout </button>
          </form>

          
        </ul>
        </div>
       </div> 
    </div>
    </nav>

    
    <section>
            <div class="container"> 
                <section class="card-section">
                    <div class="container">
                   <div class="header flex">
                    <h1>Physics Subject</h1>
                   </div>
        
                    </div>

                    <div class="flex">

                        <div class="card">
                            <img src="/Image/maths.png" alt="">
                            <div class="te flex">
                            <h3>Mechanics</h3>
                            <p>foundation for problem-solving and logical thinking. </p>
                          
                           
                            <a href="#Mechanics" class="secondary-button">Get Started</a>
                            </div>
                        </div>
                        <div class="card">
                            <img src="/Image/Physics.png" alt="">
                            <div class="te flex">
                            <h3>Heat & Thermodynamics</h3>
                            <p>foundation for problem-solving and logical thinking. </p>
                            
                            <a href="#Heat and Thermodynamics" class="secondary-button">Get Started</a>
                        </div>
                    </div>
                        <div class="card">
        
                            <img src="/Image/chemistry.png" alt="">
                            <div class="te flex">
                            <h3>Electrostatics and Magnetism </h3>
                            <p>foundation for problem-solving and logical thinking. </p>
                            <a href="#Electrostatics and Magnetism" class="secondary-button">Get Started</a>
                       </div>
                     </div>

                  
                   <div class="card">
        
                    <img src="/Image/chemistry.png" alt="">
                    <div class="te flex">
                    <h3>Optics & Modem Physics </h3>
                    <p>foundation for problem-solving and logical thinking. </p>
                    <a href="#Optics and Modern Physics" class="secondary-button">Get Started</a>
               </div>
               </div>
               
                     
                    </div>
                </section>
            </div>
            
        </section>
        <section>
            <div class="container" id="Mechanics">
                <div class="header flex">
                 <h1>Mechanics</h1>
                </div>
     
                 </div>
<div class="container " >

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Chapters</th>
          <th>Notes</th>
          <th>TextBooks</th>
          <th>Assignments</th>
          
           <th>Lectures</th>
        </tr>
      </thead>
      <tbody>
       
        <tr>
          <td>Kinematics</td>
          <td><a href="https://drive.google.com/file/d/1DR-KVdmi5HLOuTzSq4xNqS8WFo3ch6bK/view?usp=drive_link">Click here</a></td>
          <td><a href="https://drive.google.com/file/d/0B6bIm9hct1oFLUFLTVNQWVQ0OHc/view?usp=sharing&resourcekey=0-bE3zsdLPHbk6KZpZepwkew">Click here</a></td>
          <td><a href="#">Click here</a></td>
          <td><a href="https://www.youtube.com/playlist?list=PLF_7kfnwLFCHamOEHrFDSVoI6wszQQheq">Click here</a></td>
        </tr>
        <tr>
          <td>Laws of Motion</td>
          <td><a href="https://drive.google.com/file/d/1vfoMn_EDKruwmJygUb7QsIGTby-cutAy/view?usp=drive_link">Click here</a></td>
          <td><a href="https://drive.google.com/file/d/0B6bIm9hct1oFRXI2RFVRWWlHWUk/view?usp=sharing&resourcekey=0-hZ914C9B7Z65v2SKieLkRA">Click here</a></td>
          <td><a href="#">Click here</a></td>
          <td><a href="https://youtube.com/playlist?list=PLF_7kfnwLFCGcF1IhVgTiZ-Sf0pnKIOub&feature=shared">Click here</a></td>
        </tr>
        <tr>
          <td>Work and Energy</td>
          <td><a href="https://drive.google.com/file/d/1jn9Q_WleQKKHz78vlfwBNC6gQuSPcLyM/view?usp=drive_link">Click here</a></td>
          <td><a href="https://drive.google.com/file/d/0B6bIm9hct1oFUWhybTFxUDFCWjg/view?usp=sharing&resourcekey=0-7qP4rRANueGekVqqO_sW6A">Click here</a></td>
          <td><a href="#">Click here</a></td>
          <td><a href="https://youtube.com/playlist?list=PLF_7kfnwLFCFS0k0WNHuTvjRxJFKQK5qr&feature=shared">Click here</a></td>
        </tr>
        <tr>
          <td>Rotational Motion</td>
          <td><a href="https://drive.google.com/file/d/1KQy5CA5joUQrOlSYbiB5Y2pUAm3X-ynP/view?usp=drive_link">Click here</a></td>
          <td><a href="https://drive.google.com/file/d/0B6bIm9hct1oFd1lQNzQ0ekhMOUk/view?usp=sharing&resourcekey=0-YFKUf25bs2d5egQoA0chBQ">Click here</a></td>
          <td><a href="#">Click here</a></td>
          <td><a href="https://youtube.com/playlist?list=PLF_7kfnwLFCHPUM8UWjv2uy4S08SCtjEh&feature=shared">Click here</a></td>
        </tr>
        <tr>
          <td>Gravitation</td>
          <td><a href="https://drive.google.com/file/d/1yHxJgUdg_l4z51fItD9xz9NnKtLP2MNM/view?usp=drive_link">Click here</a></td>
          <td><a href="https://drive.google.com/file/d/0B6bIm9hct1oFYml4VFJaNnRsZkU/view?usp=sharing&resourcekey=0-0d3lscjhb_163sF1WDMguQ">Click here</a></td>
          <td><a href="#">Click here</a></td>
          <td><a href="https://youtube.com/playlist?list=PLF_7kfnwLFCEwyxzG-rg2uYeYA2q1S2d8&feature=shared">Click here</a></td>
        </tr>
        <tr>
          <td>Properties of Solids and Liquids</td>
          <td><a href="https://drive.google.com/file/d/1f1tZVdM9_TmP4OXj8barXqjD5CWRDPiC/view?usp=drive_link">Click here</a></td>
          <td><a href="https://drive.google.com/file/d/0B6bIm9hct1oFbmcwNHEyQlMtOGM/view?usp=sharing&resourcekey=0-CVFDUQlot2aRjh8V-yjqRw">Click here</a></td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
        </tr>
        <tr>
          <td>Oscillations</td>
          <td><a href="https://drive.google.com/drive/folders/15ncT8oD23qHbppuSuiLm89rmMVx0aVX5?usp=drive_link">Click here</a></td>
          <td><a href="https://drive.google.com/file/d/0B6bIm9hct1oFUllTMUlhdC1DT0E/view?usp=sharing&resourcekey=0-2xyoBA26qKVFgaL0kLzYHQ">Click here</a></td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
        </tr>
        <tr>
          <td>Waves</td>
          <td><a href="https://drive.google.com/file/d/1cJQid4Nz9EUUuM1b3wbHDtXtlVNISGGv/view?usp=drive_link">Click here</a></td>
          <td><a href="https://drive.google.com/file/d/0B6bIm9hct1oFeUlLLVYyYk1aZm8/view?usp=sharing&resourcekey=0-oQ3sQTbuG7bP6t1O59ap2g">Click here</a></td>
          <td><a href="#">Click here</a></td>
          <td><a href="#">Click here</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

    <div class="container" id="Heat and Thermodynamics">
        <div class="header flex">
         <h1>Heat and Thermodynamics</h1>
        </div>

         </div>
<div class="container">

<div class="table-container">
<table>
<thead>
  <tr>
    <th>Chapters</th>
    <th>Notes</th>
    <th>TextBooks</th>
    <th>Assignment</th>
    <th>Quizs</th>
     <th>Lectures</th>
  </tr>
</thead>
<tbody>
<tr>
  <td>Thermodynamics </td>
  <td><a href="https://drive.google.com/file/d/19FSZyU4-3awoFmOsnfI1Jddq6JqJqsly/view?usp=drive_link">Click here</a></td>
  <td><a href="https://drive.google.com/file/d/0B6bIm9hct1oFWFY3ZU1ia1JEQnc/view?usp=sharing&resourcekey=0-QWJs3h3RMrAmgbfxyAB5-A">Click here</a></td>
  <td><a href="#">Click here</a></td>
  <td><a href="#">Click here</a></td>
</tr>
<tr>
  <td>Kinetic Theory of Gases</td>
  <td><a href="https://drive.google.com/file/d/1ONbuJwrmVrpuB60q3fLr10uGLyVjyV-5/view?usp=drive_link">Click here</a></td>
  <td><a href="https://drive.google.com/file/d/0B6bIm9hct1oFNElWaGtpTUs1azQ/view?usp=sharing&resourcekey=0-kJxUFreIuGanDHyHNrJ7Xg">Click here</a></td>
  <td><a href="#">Click here</a></td>
  <td><a href="#">Click here</a></td>
</tr>

</tbody>
</table>
</div>
</div>

   <div class="container" id="Electrostatics and Magnetism">
        <div class="header flex">
         <h1>Electrostatics and Magnetism</h1>
        </div>

         </div>

<div class="container">

    <div class="table-container">
    <table>
    <thead>
      <tr>
        <th>Chapters</th>
        <th>Notes</th>
        <th>TextBooks</th>
        <th>Assignment</th>
        
         <th>Lectures</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>Electrostatics </td>
            <td><a href="#">Click here</a></td>
            <td><a href="#">Click here</a></td>
            <td><a href="#">Click here</a></td>
            <td><a href="#">Click here</a></td>
          </tr>
    <tr>
      <td>Current Electricity </td>
      <td><a href="https://drive.google.com/drive/folders/1IkmOli9MakUj-pcIDu3k8WFDfRP2K6Lq">Click here</a></td>
      <td><a href="#">Click here</a></td>
      <td><a href="#">Click here</a></td>
      <td><a href="#">Click here</a></td>
    </tr>
    <tr>
      <td>Magnetic Effects of Current</td>
      <td><a href="#">Click here</a></td>
      <td><a href="#">Click here</a></td>
      <td><a href="#">Click here</a></td>
      <td><a href="#">Click here</a></td>
    </tr>
    <tr>
    <td>Magnetism</td>
    <td><a href="#">Click here</a></td>
    <td><a href="#">Click here</a></td>
    <td><a href="#">Click here</a></td>
    <td><a href="#">Click here</a></td>
  </tr>
<tr>
  <td>Electromagnetic Induction</td>
  <td><a href="#">Click here</a></td>
  <td><a href="#">Click here</a></td>
  <td><a href="#">Click here</a></td>
  <td><a href="#">Click here</a></td>
</tr>
<tr>
    <td>Electromagnetic Waves</td>
    <td><a href="#">Click here</a></td>
    <td><a href="#">Click here</a></td>
    <td><a href="#">Click here</a></td>
    <td><a href="#">Click here</a></td>
  </tr>
    
    </tbody>
    </table>
    </div>
    </div>
  
    <div class="container" id="Optics and Modern Physics">
        <div class="header flex">
         <h1>Optics and Modern Physics</h1>
        </div>

         </div>

<div class="container" >

    <div class="table-container">
    <table>
    <thead>
      <tr>
        <th>Chapters</th>
        <th>Notes</th>
        <th>TextBooks</th>
        <th>Assignments</th>
       
         <th>Lectures</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>Dual Nature of Matter </td>
      <td><a href="">Click here</a></td>
      <td><a href="#">Click here</a></td>
      <td><a href="#">Click here</a></td>
      <td><a href="#">Click here</a></td>
    </tr>
    <tr>
      <td>Radiation</td>
      <td><a href="#">Click here</a></td>
      <td><a href="#">Click here</a></td>
      <td><a href="#">Click here</a></td>
      <td><a href="#">Click here</a></td>
    </tr>
    <tr>
        <td>Thermodynamics </td>
        <td><a href="#">Click here</a></td>
        <td><a href="#">Click here</a></td>
        <td><a href="#">Click here</a></td>
        <td><a href="#">Click here</a></td>
      </tr>
      <tr>
        <td>Atoms</td>
        <td><a href="#">Click here</a></td>
        <td><a href="#">Click here</a></td>
        <td><a href="#">Click here</a></td>
        <td><a href="#">Click here</a></td>
      </tr>
      <tr>
        <td>Nuclei </td>
        <td><a href="#">Click here</a></td>
        <td><a href="#">Click here</a></td>
        <td><a href="#">Click here</a></td>
        <td><a href="#">Click here</a></td>
      </tr>
      <tr>
        <td>Optics</td>
        <td><a href="#">Click here</a></td>
        <td><a href="#">Click here</a></td>
        <td><a href="#">Click here</a></td>
        <td><a href="#">Click here</a></td>
      </tr>
      <tr>
        <td>Electronic Devices</td>
        <td><a href="#">Click here</a></td>
        <td><a href="#">Click here</a></td>
        <td><a href="#">Click here</a></td>
        <td><a href="#">Click here</a></td>
      </tr>
    
    </tbody>
    </table>
    </div>
    </div>
    
</body>
</html>

            </div>
        </section>
    </main>
    <footer></footer>
    <script>
        // window.onscroll = function() {myFunction()};
        
        // var header = document.getElementById("myHeader");
        // var sticky = header.offsetTop;
        
        // function myFunction() {
        //   if (window.pageYOffset > sticky) {
        //     header.classList.add("sticky");
        //   } else {
        //     header.classList.remove("sticky");
        //   }
        // }
        </script>
</body>
</html>

<!-- JEE MAIN PHYSICS
UNIT-WISE WEIGHT
17.00
Mechanics
Heat & Thermodynamics
Electrostatics and Magnetism
35.67
Current Electricity & EMI
• Optics & Modem Physics
20.67
9.67
17.00